#faustUI{
  width: 100%;
  height: 100%;
}

#faustUI * {
  width: 100%;
  height: 100%;
  display: flex;
}

.vgroup{
  flex-direction: column;
}

.hgroup{
  flex-direction: row;
}

.hslider{
  flex: 1;
}

.vslider{
  flex: 1;
}
